{% extends "matchingapp/base.html" %}

{% block head %}

    {% load static %}
    <script src="{% static 'matchingapp/js/admin.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
        i {
            cursor:pointer
        }
    </style>
{% endblock %}


{% block content %}
    <h1>Hobbies:</h1>
    <i class="material-icons" title="add" id="addBtn" onclick="showForm()">add</i>
    <div id="addItemFormDiv">
        Name: <input type="text" name="name" title="Name" placeholder="Name" maxlength="200" id="addFormNameField"/><br>
        <input type="button" id="addItemFormSubmit" onclick="doAdd()" value="Add">
        <input type="button" onclick="hideForm()" value="Cancel">
    </div>
    <table id="product-table">
        <tr>
            <th>Hobby</th>
            <th>Action</th>
        </tr>
    </table>
{% endblock %}