{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	{% block head %}
	{% endblock %}
    {% csrf_token %}
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ siteName }}</title>
</head>
<body>
      <a id="homeBtn" href="/">Home</a>&nbsp&nbsp&nbsp&nbsp<a id="profileBtn" href="/profile">Profile</a>&nbsp&nbsp&nbsp&nbsp<a id="signOutBtn" href="/signout">Sign Out</a>
	<br>
	{% block content %}
	{% endblock %}
</body>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    if ("{{ username }}" === "" && window.location.pathname !== '/login' && window.location.pathname !== '/login/') {
        window.location.pathname = '/login/';
    } else if ("{{ username }}" !== "" && (window.location.pathname === '/login' || window.location.pathname === '/login/')) {
        window.location.pathname = '/';
    }
</script>
{% block script %}
{% endblock %}

</html>