{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'matchingapp/css/design.css' %}">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon">
	{% block head %}
	{% endblock %}
    {% csrf_token %}
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ siteName }}</title>
    <style>
        i {
            cursor:pointer
        }
    </style>
</head>
<body>
    <div align="center" class="header">
      <a href="/" class="logo">{{ siteName }}</a><br/><br/><br/>
      <a id="homeBtn" href="/">Home</a>&nbsp&nbsp&nbsp&nbsp
        <a id="profileBtn" href="/profile">Profile</a>&nbsp&nbsp&nbsp&nbsp
        <a id="matchesBtn" href="/matches">Matches</a>&nbsp&nbsp&nbsp&nbsp
        <a id="messagesBtn" href="/messages">Messages</a>&nbsp&nbsp&nbsp&nbsp
        <a id="signOutBtn" href="/signout">Sign Out</a>

	<br>
    </div>
	{% block content %}
	{% endblock %}
</body>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    $("#chatHistory").scrollTop($("#chatHistory").height());
    if ("{{ username }}" === "" && window.location.pathname !== '/login' && window.location.pathname !== '/login/') {
        window.location.pathname = '/login/';
    } else if ("{{ username }}" !== "" && (window.location.pathname === '/login' || window.location.pathname === '/login/')) {
        window.location.pathname = '/';
    }
</script>
{% block script %}
{% endblock %}

</html>
