{% extends "matchingapp/base.html" %}

{% load staticfiles %}

{% block content %}

    <div class="main" align="center">
        <h1>Login to the website:</h1>
        <table id="loginForm">
            <label class="loginLabel" for="username">Username: </label>
            <br/>
            <input type="text" id="username" placeholder="Username"/><br />
            <br/>
            <label class="loginLabel" for="password">Password: </label>
            <br/>
            <input type="password" id="password" placeholder="Password"/><br />
            <input type="button" name="Log In" value="Log In" id="loginBtn"/><br /><br />
            <a id="signUpLink" href="/signup">Click here to create an account</a>
        </table>
    </div>

{% endblock %}

{% block script %}
<script>
    /*
    Once the login button is pressed, this method is triggered. The method checks that the fields aren't empty and
    then sends a POST request to the webserver to check that the user exists and the password is correct. If they are
    then it redirects to the index page, if not, then it highlights the fields in red to indicate that they are wrong
    */
    const csrftoken = Cookies.get('csrftoken');
    $('#loginBtn').click(function () {
        if (!document.getElementById('username').value || !document.getElementById('password').value)
        {
            alert("Fields cannot be empty");
        } else {
            $.ajax({
                url: '',
                type: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                data: {
                    username: $('#username').val(),
                    password: $('#password').val(),
                    csrfmiddlewaretoken: csrftoken
                },
                success: function (data) {
                    console.log("Success");
                    window.location.replace('..')
                },
                failure: function (data) {
                    console.log(data);
                    document.getElementById('username').style.borderColor = 'red';
                    document.getElementById('password').style.borderColor = 'red';
                },
                error: function(jqXHR, textStatus, error){
                    console.log("Error");
                    document.getElementById('username').style.borderColor = 'red';
                    document.getElementById('password').style.borderColor = 'red';
                }
            });
        }
    });

</script>

{% endblock %}
