{% extends "matchingapp/base.html" %}

{% load static %}

{% block head %}
<script src="{% static 'matchingapp/js/matches.js' %}"></script>
{% endblock %}

{% block content %}
    <div align="center" id="matchRequests">
        <h2>Match Requests</h2>
        <table id="matchRequestTable">
            <tr>
                <th class="profileLabel">Name</th><th class="profileLabel">Action</th>
            </tr>
            {% for request in match_requests %}
                <tr id="req{{ request.id }}">
                    <td>{{ request.name }}</td><td><i onclick="manageRequest({{ request.id }}, 'accept')" class="material-icons">done</i><i onclick="manageRequest({{ request.id }}, 'reject')" class="material-icons">clear</i></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div align="center" id="matches">
        <h2>Matches</h2>
        <table id="matchesTable">
            <tr>
                <th class="profileLabel">Name</th>
                <th class="profileLabel">Action</th>
            </tr>
            {% for match in matches %}
            <tr id="match{{ match.id }}">
                <th>{{ match.name }}</th>
                <th><a href="/findConvo/{{ match.id }}/"><i class="material-icons">mail</i></a><i onclick="deleteMatch({{ match.id }})" class="material-icons">clear</i></th>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
