{% extends "matchingapp/base.html" %}

{% load static %}

{% block head %}
<script src="{% static 'matchingapp/js/matches.js' %}"></script>
{% endblock %}

{% block content %}
    <div align="center" id="matchRequests">
    <h2>Match Requests</h2>
        <div align="center" class="container">
        {% for request in match_requests %}
        <div class="row">
            <div align='center' style='margin: 0 auto' id='req{{ request.id }}'>
                <div class='card' style='width: 15rem;'>
                    <div class='card-body'>
                        <a href="/profile/{{ request.id }}"><h5 class='card-title'>{{ request.name }}</h5></a>
                        <i onclick="manageRequest({{ request.id }}, 'accept')" class="material-icons">done</i>
                        <i onclick="manageRequest({{ request.id }}, 'reject')" class="material-icons">clear</i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    <div align="center" id="matches">
    <h2>Matches</h2>
        <div align="center" class="container">
        {% for match in matches %}
        <div class="row">
            <div align="center" style="margin: 0 auto">
                <div class='card' style='width: 15rem;'>
                    <div class='card-body'>
                        <a href="/profile/{{ match.id }}"><h5 class='card-title'>{{ match.name }}</h5></a>
                        <a href="/findConvo/{{ match.id }}/" class='btn btn-primary'><i class="material-icons">mail</i></a>
                        <i onclick="deleteMatch({{ match.id }})" class="material-icons">clear</i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
