{% extends "matchingapp/base.html" %}

{% load staticfiles %}

{% block content %}
    <div align="center">
    <h2>Messages</h2>
    <table id="conversationTables" style="font-family: Arial;">
        <tr>
              <th class="profileLabel">Name</th>
{#            <th class="profileLabel">Action</th>#}
        </tr>
        {% for conversation in conversations %}
            <tr>
                {% if conversation.read == True %}
                    <td><a href="/messages/{{ conversation.id }}">{{ conversation.name }}</a></td>
                {% else %}
                    <td><a href="/messages/{{ conversation.id }}">{{ conversation.name }}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
