{% extends "matchingapp/base.html" %}

{% load staticfiles %}

{% block content %}
    <table id="conversationTables">
        <tr>
            <th>Name</th>
{#            <th>Action</th>#}
        </tr>
        {% for conversation in conversations %}
            <tr>
                {% if conversation.read == True %}
                    <td><a href="/messages/{{ conversation.id }}">{{ conversation.name }}</a></td>
                {% else %}
                    <td><a href="/messages/{{ conversation.id }}"><strong>{{ conversation.name }}</strong></a></td
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}