{% extends "matchingapp/base.html" %}

{% load static %}

{% block head %}
<script src="{% static 'matchingapp/js/profile.js' %}"></script>
<script src="{% static 'matchingapp/js/matches.js' %}"></script>
{% endblock %}

{% block content %}
    <div align="center" id="controlsDiv">
    {% if match_status == 0 %}
        <button class="matchBtn" onclick="requestMatch({{ profile.id }})">Request Match</button>
    {% elif match_status == 1 %}
        <button class="matchBtn" onclick="manageRequest({{ profile.id }}, 'accept')">Accept Match Request</button>
        <button class="matchBtn" onclick="manageRequest({{ profile.id }}, 'reject')">Reject Match Request</button>
    {% elif match_status == 2 %}
        <a href="/findConvo/{{ profile.id }}/"><button>Send message</button></a>
        <button class="matchBtn" onclick="deleteMatch({{ profile.id }})">Delete Match</button>
    {% elif match_status == 3 %}
        <button class="matchBtn" onclick="cancelRequest({{ profile.id }})">Cancel Request</button>
    {% endif %}
    </div>
    <div id="profileDiv">
        <img id="profileImg" src="../..{{ profile.profile_image }}" height="200px">
        <br /><br />
        <label class="profileLabel" for="name">Name:</label><br />
        <span id="name">{{ profile.name }}</span>
        <br /><br />
        <label class="profileLabel" for="dob">Date of Birth:</label><br />
        <span id="dob">{{ profile.dob }}</span>
        <br /><br />
        <label class="profileLabel" for="email">Email:</label><br />
        <span id="email">{{ profile.email }}</span>
        <br /><br />
        <label class="profileLabel" for="gender">Gender:</label><br />
        <span id="gender">{{ profile.gender }}</span>
        <br /><br />
        <label class="profileLabel" for="hobbies">Hobbies:</label>
        {% for hobby in profile.hobbies %}
            <p id="{{ hobby }}-label">{{ hobby }}</p>
        {% endfor %}
    </div>
{% endblock %}
