{% extends "matchingapp/base.html" %}

{% load static %}

{% block head %}
<script src="{% static 'matchingapp/js/profile.js' %}"></script>
{% endblock %}

{% block content %}
    <button id="requestMatch" onclick="requestMatch({{ profile.id }})">Request Match</button>
    <div id="profileDiv">
        <img id="profileImg" src="../..{{ profile.profile_image }}" height="200px">
        <br />
        <label for="name">Name:</label>
        <span id="name">{{ profile.name }}</span>
        <br />
        <label for="dob">Date of Birth:</label>
        <span id="dob">{{ profile.dob }}</span>
        <br />
        <label for="email">Email:</label>
        <span id="email">{{ profile.email }}</span>
        <br />
        <label for="gender">Gender:</label>
        <span id="gender">{{ profile.gender }}</span>
        <br />
        <label for="hobbies">Hobbies:</label>
        <br />
        {% for hobby in profile.hobbies %}
            <p id="{{ hobby }}-label">{{ hobby }}</p>
        {% endfor %}
    </div>
{% endblock %}