{% extends "matchingapp/base.html" %}

{% load static %}

{% block head %}
<script src="{% static 'matchingapp/js/user_profile.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="profileDiv">
        <br />
        <img id="profileImg" src="{{ profile.profile_image }}" height="200px">
        <br />
        {% if profile.name is not None %}
            <div align="center" id="addImg">
            <label id="imageFile">Choose image
            <input type="file" name="newProfileImg" id="newProfileImg" onchange="uploadNewProfileImage()"/>
            </label>
            </div>
        {% endif %}
        {% block accountInfo %}
        {% endblock %}
        <label class="profileLabel" for="name">Name:</label><br/>
        <span id="name">{{ profile.name }}</span>
        <br /><br/>
        <label class="profileLabel" for="dob">Date of Birth:</label><br/>
        <span id="dob">{{ profile.dob }}</span>
        <br /><br/>
        <label class="profileLabel" for="email">Email:</label><br/>
        <span id="email">{{ profile.email }}</span>
        <br /><br/>
        <label class="profileLabel" for="gender">Gender:</label><br/>
        <span id="gender">{{ profile.gender }}</span>
        <br /><br/>
        <label class="profileLabel" for="hobbies">Hobbies:</label><br/>
        <br /><br/>
        <div id="hobbiesDiv">
            {% for hobby in hobby_list %}
                <label for="{{ hobby }}" id="{{ hobby }}-label">{{ hobby }}</label>
               <input type="checkbox" name="hobby" value="{{ hobby }}" id="{{ hobby }}">
                <br id="{{ hobby }}-br"/>
            {% endfor %}
        </div>
    </div>
    <div align="center">
        <button id="editBtn" onclick="switchToEdit()">Edit</button>
        <button id="saveBtn" onclick="save()">Save</button>
        {% block btnBlock %}
        {% endblock %}
        <p id="errorMsg" style="color: red"></p>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('[name="hobby"]').hide();
        $("[id*='label']").hide();
        $("[id*='br']").hide();
        $('#saveBtn').hide();
        $('#requestMatch').hide();
        profile = {{ profile|safe }};
        profile_img = "{{ profile.profile_image.url }}";
        hobbies = JSON.parse(profile.hobbies);
        hobbies.forEach(function (hobby) {
            $('#' + hobby.fields.name + "-label").show();
            $('#' + hobby.fields.name + "-br").show();
            $('#' + hobby.fields.name).prop('checked', true);
        });
    </script>

{% endblock %}
